<div class="b-journey__card" data-component="journey-card" data-timeline-point-id="{{timelinePointId}}"{{#if disableTransition}}data-disable-transition{{/if}}>
    <div class="b-journey__image">
        {{> atom/a01-image image disableTransition=true}}
    </div>
</div>