
<div class="o-popupMessage" data-component="o24-popup-message" aria-modal="true" role="dialog">
  <div class="o-popupMessage__mask" data-mask></div>
  <div class="o-popupMessage__controls">
    {{> molecule/m02-button level="secondary" icon="close" theme="white" variant="close"}}
  </div>
  <div class="o-popupMessage__messageWrapper" data-popup-container>
    {{!-- Popup content injected here --}}
  </div>
</div>
