.m-scrollButton {
  --scroll-button-size: 58px;

  @include size(var(--scroll-button-size));

  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  bottom: calc(var(--containerMargin) - 14px);
  display: none;
  left: calc(50% - (var(--scroll-button-size) / 2));
  padding: 0;
  position: absolute;
  justify-content: center;

  &::before {
    @include pseudo;
    @include offset(0);
    @include size(100%);

    background: var(--scroll-button-background-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.6s $easeOutExpo;
      transition-property: transform, opacity;
    }
  }

  // animate svg element
  .mouse_svg__mouse-drop {
    animation: mouse-scroll 1.7s infinite;
  }

  @include hover {
    cursor: pointer;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include respond-to("MEDIUM") {
    display: flex;
  }
}
