.b-newsroomList {
  padding: 32px 0 64px;

  &.-isFirstBlock {
    padding: calc(140px + 80px + 110px) 0 0;
  }

  &__container {
    @include container();
  }

  &__header {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 32px;

    .m-paragraph {
      grid-column: 1 / span 4;
    }
  }

  &__items {
    @include list-reset(0 0 32px);
  }

  &__item {
    &.-isHidden {
      display: none;
    }
  }

  &__footer {
    text-align: center;

    &.-isHidden {
      display: none;
    }

    .m-button {
      width: 100%;
    }
  }

  @include respond-to("MEDIUM") {
    --grid-column-count: 2;

    &__items {
      display: grid;
      grid-gap: 80px;
      grid-template-columns: repeat(var(--grid-column-count, 12), minmax(0, 1fr));
    }

    &__item {
      &.-highlighted {
        grid-column: 1 / span 2;
      }
    }

    &__footer {
      .m-button {
        width: auto;
        min-width: 240px;
      }
    }
  }

  @include respond-to("LARGE") {
    --grid-column-count: var(--article-list-columns, 3);

    padding: 64px 0;

    &__header {
      margin-bottom: 64px;
    }

    &__items {
      @include list-reset(0 0 40px);
    }
  }

  @import "styles/o-article-card";
}
