<link rel="stylesheet" href="./m47-hamburger-menu.scss">
<script src="./M47HamburgerMenu.ts"></script>


<div class="m-hamburgerMenu{{#if (condition variant '===' 'mainSiteNavigation')}} -mainSiteNavigation{{/if}}"
         data-component="m47-hamburger-menu"
         {{#if scrollComponent}}data-scroll-component{{/if}}
         {{#if id}} id="{{id}}"{{/if}}
         {{#if (condition variant '===' 'mainSiteNavigation')}} data-navigation-button {{/if}}>
    <button class="m-hamburgerMenu__container" {{#if hamburgerMenuLabel}}aria-label="{{hamburgerMenuLabel}}"{{/if}} data-hamburger-menu>
      {{!-- breadcrumb hardcoded for now, needs to be the current page title --}}
        {{#if (condition variant '!==' 'mainSiteNavigation')}}
          <span class="m-hamburgerMenu__breadcrumb" data-breadcrumb> breadcrumb </span>
        {{/if}}
        <span class="m-hamburgerMenu__menu" data-hamburger-icon>
          <svg viewBox="0 0 100 80" width="24" height="22" class="m-hamburgerMenu__svg" fill="currentColor" aria-hidden="true">
            <rect y="5" width="100" height="8.5" rx="8"></rect>
            <rect y="35" width="100" height="8.5" rx="8"></rect>
            <rect y="65" width="100" height="8.5" rx="8" ></rect>
          </svg>
        </span>
    </button>
</div>
