<script src="./O54PageTransition.ts"></script>
<link rel="stylesheet" href="./o54-page-transition.scss">

<div class="o-pageTransition"
     data-component="o54-page-transition"
>
  <div class="o-pageTransition__box -box1" data-box></div>
  <div class="o-pageTransition__box -box2" data-box></div>
</div>
