<link rel="stylesheet" href="./m50-search-field.scss">
<script src="./M50SearchField.ts"></script>


<div class="m-searchField" data-component="m50-search-field">
  {{> atom/a14-input id="search-field" type="text" placeholder=@root.i18n.search}}
  {{> atom/a02-icon name="search"}}
</div>