

<div class="o-modalListViewer" data-component="o67-modal-list-viewer"
  data-modal-props="{{toJson this}}"
  {{#if id}} id="{{id}}" {{/if}}
  >
  {{> molecule/m02-button size="small" theme="white" label=button.label}}
</div>