.b-shuffleHeroSlider {
  @include neomThemes() {
    &.t-light {
      --component-heading-color: var(--color-black);
    }

    &.t-dark {
      --component-heading-color: var(--color-dark-accent);
      --component-highlight-color-hover: var(--color-white);
    }
  }

  padding-block: var(--component-block-padding, var(--container-margin));
  position: relative;
  background-color: var(--component-background-color);
  height: 100vh;
  display: flex;

  &__container {
    @include container;

    position: relative;
    flex: 1;
  }

  &__labels {
    @include list-reset;

    position: absolute;
    inset-inline-start: var(--container-margin);
    inset-block: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: zindex($zLayout, content);
    cursor: default;
    pointer-events: none;

    &Item {
      @include type("overline", "small");

      color: var(--component-heading-color);
      transition: font-size 250ms ease, color 250ms ease;
      pointer-events: all;
      width: fit-content;

      &.-isActive {
        @include type("heading", "h2");

        color: var(--component-highlight-color-hover);
      }

      &:not(:last-child) {
        margin-block-end: 20px;
      }
    }
  }

  &__minimap {
    @include list-reset;

    position: absolute;
    inset-inline-end: var(--container-margin);
    inset-block-start: 0;
    display: none;
    grid-template-columns: 1fr;
    gap: 10px;
    z-index: zindex($zLayout, content);

    &.-twoColumns {
      grid-template-columns: 1fr 1fr;
    }

    &Item {
      @include size(60px);

      position: relative;
      opacity: 0.25;
      transition: opacity 250ms ease;

      &.-isActive {
        opacity: 1;
      }
    }
  }

  &__slideCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &Label {
      @include type("heading", "h5");

      position: relative;
      color: var(--color-white);
      margin-bottom: 15px;
    }
  }

  .o-dynamicCarousel {
    height: 100%;

    &__controls,
    .a-pageIndicators {
      display: none;
    }

    &__swiperContainer {
      height: 100%;
    }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      width: min(1000px, 100%);
      aspect-ratio: 3/4;
      height: unset;
    }
  }

  @include respond-to(SMALL) {
    .o-dynamicCarousel .swiper-slide {
      aspect-ratio: 16/9;
    }
  }

  @include respond-to(LARGE) {
    &__labels {
      display: flex;
    }

    &__minimap {
      display: grid;
    }

    &__slideCard {
      &Label {
        display: none;
      }

      .m-button {
        position: absolute;
        inset-inline-start: 30px;
        inset-block-end: 30px;
      }
    }
  }
}
