@mixin margin-block($start: 0, $end: $start) {
  margin-block-start: $start;
  margin-block-end: $end;
}

@mixin margin-inline($start: 0, $end: $start) {
  margin-inline-start: $start;
  margin-inline-end: $end;
}
