


<ul class="o-factsList -{{type}}"  data-component="o58-facts-list" >
  {{#each items}}
    <li class="o-factsList__item" data-facts-item>
      {{> molecule/m35-fact type=../type}}
    </li>
  {{/each}}
</ul>
