

<div class="o-investorForm" data-component="o08-investor-form" {{#with titleInEnglish}}data-title-in-english="{{this}}"{{/with}}>
  <!-- Begin Mailchimp Signup Form -->
  {{#if (condition language '===' 'ar') }}
    <div data-investor-form-container>
      <form action="https://neom.us7.list-manage.com/subscribe/post?u=de4d5653304bef99a642e4916&amp;id=6d4fcc1724"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" data-investor-form novalidate >
        <div id="mc_embed_signup_scroll">
        <h2 class="o-investorForm__title">أبقني على اطلاع</h2>
        <div class="o-investorForm__inputContainer">
          <div class="o-investorForm__inputGroupContainer">
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-FNAME">الاسم الأول <span class="asterisk">*</span>
              </label>
              <input type="text" value="" name="FNAME" class="required o-investorForm__input" id="mce-FNAME" placeholder="الاسم الأول">
            </div>
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-LNAME">اسم العائلة <span class="asterisk">*</span>
              </label>
              <input type="text" value="" name="LNAME" class="required o-investorForm__input" id="mce-LNAME" placeholder="اسم العائلة">
            </div>
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-EMAIL">عنوان البريد الإلكتروني الخاص بالعمل <span
                  class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email o-investorForm__input" id="mce-EMAIL" placeholder="البريد الإلكتروني">
            </div>
          </div>
          <div class="o-investorForm__inputGroupContainer">
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-MMERGE4">الملف الشخصي في لينكدإن</label>
              <input type="text" value="" name="MMERGE4" class="o-investorForm__input" id="mce-MMERGE4" placeholder="حساب لينكدإن">
            </div>
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-group[80032]">مجال الاهتمام: </label>
              <select name="group[80032]" class="REQ_CSS o-investorForm__input" id="mce-group[80032]">
                <option value="">اختر إحدى الخانات</option>
                <option value="32768">الاستثمار في نيوم</option>
                <option value="65536">الشراكة مع نيوم</option>
                <option value="131072">التسجيل كأحد مورّدي نيوم</option>
              </select>
            </div>
            <div class="mc-field-group">
              <label class="o-investorForm__label" for="mce-group[80060]">أنا هنا بصفتي: </label>
              <select name="group[80060]" class="REQ_CSS o-investorForm__input" id="mce-group[80060]">
                <option value="">اختر إحدى الخانات</option>
                <option value="262144">رائد أعمال</option>
                <option value="524288">منشأة كبيرة</option>
                <option value="1048576">منشأة صغيرة أو متوسطة</option>
                <option value="2097152">جهة حكومية أو عامة</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mc-field-group input-group">
          <label class="o-investorForm__label -checkBoxGroupTitle">القطاعات التي تهمني</label>
          <div class="o-investorForm__checkBoxGroup">
            <ul class="o-investorForm__checkBoxList">
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="1" name="group[79816][1]" id="mce-group[79816]-79816-0">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-0">التصميم
                  والبناء</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="2" name="group[79816][2]" id="mce-group[79816]-79816-1">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-1">التعليم</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="4" name="group[79816][4]" id="mce-group[79816]-79816-2">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-2">الطاقة</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="8" name="group[79816][8]" id="mce-group[79816]-79816-3">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-3">الترفيه
                  والثقافة</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="512" name="group[79816][512]" id="mce-group[79816]-79816-9">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-9">الخدمات المالية</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="16" name="group[79816][16]" id="mce-group[79816]-79816-4">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-4">الغذاء</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="32" name="group[79816][32]" id="mce-group[79816]-79816-5">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-5">الصحة والرفاهية
                  والتقنيات
                  الحيوية</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="64" name="group[79816][64]" id="mce-group[79816]-79816-6">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-6">التصنيع</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="128" name="group[79816][128]" id="mce-group[79816]-79816-7">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-7">الإعلام</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="256" name="group[79816][256]" id="mce-group[79816]-79816-8">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-8">التنقّل</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="1024" name="group[79816][1024]" id="mce-group[79816]-79816-10">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-10">الرياضة</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="2048" name="group[79816][2048]" id="mce-group[79816]-79816-11">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-11">العلوم التقنية
                  والرقمية</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="4096" name="group[79816][4096]" id="mce-group[79816]-79816-12">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-12">السياحة</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="8192" name="group[79816][8192]" id="mce-group[79816]-79816-13">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-13">الماء</label>
              </li>
              <li class="o-investorForm__checkBoxListItem">
                <input type="checkbox" value="16384" name="group[79816][16384]" id="mce-group[79816]-79816-14">
                <label class="o-investorForm__label -checkboxLabel" for="mce-group[79816]-79816-14">قطاعات أخرى</label>
              </li>
            </ul>
          </div>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_de4d5653304bef99a642e4916_6d4fcc1724" tabindex="-1" value=""></div>
        <div class="clear"><input data-submit-button type="submit" value="إرسال" name="subscribe" id="mc-embedded-subscribe"
            class="button o-investorForm__submit"></div>
        </div>
      </form>
    </div>
    {{else}}
    <div data-investor-form-container>
      <form action="https://neom.us7.list-manage.com/subscribe/post?u=de4d5653304bef99a642e4916&amp;id=bb2cd266c1"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" data-investor-form novalidate>
        <div id="mc_embed_signup_scroll">
          <h2 class="o-investorForm__title">Keep me informed</h2>
          <div class="o-investorForm__inputContainer">
            <div class="o-investorForm__inputGroupContainer">
              <div class="mc-field-group ">
                <label class="o-investorForm__label" for="mce-FNAME">First Name <span class="asterisk">*</span>
                </label>
                <input class="required o-investorForm__input" type="text" value="" name="FNAME" id="mce-FNAME"
                  placeholder="First name">
              </div>
              <div class="mc-field-group">
                <label class="o-investorForm__label" for="mce-LNAME">Last Name <span class="asterisk">*</span>
                </label>
                <input class="required o-investorForm__input" type="text" value="" name="LNAME" id="mce-LNAME"
                  placeholder="Last name">
              </div>
              <div class="mc-field-group">
                <label class="o-investorForm__label" for="mce-EMAIL">Business email address <span
                    class="asterisk">*</span>
                </label>
                <input class="required o-investorForm__input email" type="email" value="" name="EMAIL" id="mce-EMAIL"
                  placeholder="Business email address">
              </div>
            </div>
            <div class="o-investorForm__inputGroupContainer">
              <div class="mc-field-group">
                <label class="o-investorForm__label" for="mce-MMERGE4">LinkedIn Profile </label>
                <input class=" o-investorForm__input" type="text" value="" name="MMERGE4" id="mce-MMERGE4"
                  placeholder="LinkedIn profile">
              </div>
              <div class="mc-field-group">
                <label class="o-investorForm__label" for="mce-group[79952]">Area of interest: </label>
                <select name="group[79952]" class="REQ_CSS o-investorForm__input" id="mce-group[79952]">
                  <option value="">Select an option</option>
                  <option value="32768">Invest in NEOM</option>
                  <option value="65536">Partner with NEOM</option>
                  <option value="131072">Become a Vendor</option>
                </select>
              </div>
              <div class="mc-field-group">
                <label class="o-investorForm__label" for="mce-group[80080]">I am a(n): </label>
                <select name="group[80080]" class="REQ_CSS o-investorForm__input" id="mce-group[80080]">
                  <option value="">Select an option</option>
                  <option value="262144">Entrepreneur</option>
                  <option value="524288">Large enterprise</option>
                  <option value="1048576">Small or medium enterprise</option>
                  <option value="2097152">Government or public entity</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mc-field-group input-group">
            <label class="o-investorForm__label -checkBoxGroupTitle">Sector of interest:</label>
            <div class="o-investorForm__checkBoxGroup">
              <ul class="o-investorForm__checkBoxList">
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="1" name="group[79840][1]" id="mce-group[79840]-79840-0">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-0">
                    Design and Construction</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="2" name="group[79840][2]" id="mce-group[79840]-79840-1">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-1">Education</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="4" name="group[79840][4]" id="mce-group[79840]-79840-2">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-2">Energy</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="8" name="group[79840][8]" id="mce-group[79840]-79840-3">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-3">Entertainment and
                    Culture</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="512" name="group[79840][512]" id="mce-group[79840]-79840-9">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-9">Financial Services</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="16" name="group[79840][16]" id="mce-group[79840]-79840-4">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-4">Food</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="32" name="group[79840][32]" id="mce-group[79840]-79840-5">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-5">Health, Well-being
                    and
                    Biotech</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="64" name="group[79840][64]" id="mce-group[79840]-79840-6">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-6">Manufacturing</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="128" name="group[79840][128]" id="mce-group[79840]-79840-7">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-7">Media</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="256" name="group[79840][256]" id="mce-group[79840]-79840-8">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-8">Mobility</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="1024" name="group[79840][1024]" id="mce-group[79840]-79840-10">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-10">Sport</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="2048" name="group[79840][2048]" id="mce-group[79840]-79840-11">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-11">Technology and
                    Digital</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="4096" name="group[79840][4096]" id="mce-group[79840]-79840-12">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-12">Tourism</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="8192" name="group[79840][8192]" id="mce-group[79840]-79840-13">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-13">Water</label>
                </li>
                <li class="o-investorForm__checkBoxListItem">
                  <input type="checkbox" value="16384" name="group[79840][16384]" id="mce-group[79840]-79840-14">
                  <label class="o-investorForm__label -checkboxLabel" for="mce-group[79840]-79840-14">Other</label>
                </li>
              </ul>
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_de4d5653304bef99a642e4916_bb2cd266c1" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe"
              class="button o-investorForm__submit"></div>
        </div>
      </form>
    </div>
  {{/if}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[4] = 'MMERGE4'; ftypes[4] = 'text'; }(jQuery));
    var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
