<script src="./M59DynamicDropdown.ts"></script>


<div class="m-dynamicDropdown"
  data-component="m59-dynamic-dropdown"
  data-map-value="{{toJson mapValue}}"
  data-items="{{toJson items}}"
>
  {{> molecule/m31-dropdown-field }}
</div>
