.b-colorSwatches {
  --component-border-color: var(--color-border-grey);
  --component-container-background: var(--color-white);
  --component-color-ratio-name: var(--color-black-50);

  background-color: var(--component-background-color);
  color: var(--component-text-color);
  padding: 0 0 60px;

  &__container {
    @include container("compact");
  }

  &__header {
    padding: 70px 0;
  }

  .a-heading {
    color: var(--component-text-color);
    margin: 0 0 20px;
  }

  &__description {
    @include type("body", "small");

    color: var(--component-text-color);
    margin: 0;
  }

  // stylelint-disable-next-line no-descending-specificity
  &__colors {
    display: flex;
    flex-wrap: wrap;

    &.-isPrimary {
      .b-colorSwatches__color {
        flex: 0 0 25%;
      }
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  &__color {
    flex: 0 0 20%;
  }

  &__colorRatio {
    height: 100%;
    width: 100%;
  }

  &__colorRatioImageContainer {
    @include aspect-ratio(1, 1);
    background-color: var(--component-container-background);
    border: 1px solid var(--component-border-color);
  }

  .a-image__img {
    object-fit: fill;
    padding: 5px;
  }

  &__colorsRatioInfoContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }

  &__colorsRatioInfo {
    flex: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__colorName {
    @include type("overline", "medium");

    color: var(--component-color-ratio-name);
    font-weight: 400;
  }

  &__tag {
    @include type("overline", "small");

    color: var(--component-text-color);
    font-weight: 600;
  }

  @include respond-to("MEDIUM") {
    &__header {
      padding: 100px 0;
    }

    &__colorRatioImageContainer {
      @include aspect-ratio(35, 9);

      padding: 10px;
    }

    .a-heading {
      margin: 0 0 40px;
    }

    .a-image__img {
      padding: 10px;
    }

    &__colorsRatioInfo {
      flex: 0%;
      margin: 15px 0;
    }
  }

  @include neomThemes() {
    &.t-dark,
    &.t-darkMono {
      --component-border-color: var(--color-black-90);
      --component-color-ratio-name: var(--color-cream);
      --component-container-background: transparent;

      .o-colorSwatch__colorContainer {
        background-color: transparent;
        border-color: var(--color-black-90);
      }
    }
  }
}
