<script src="./C119SliderView.ts"></script>

<div class="b-draggableGallery__sliderView" data-component="c119-slider-view">

  <div class="b-draggableGallery__sliderView__controls" data-controls>
    {{> organism/o42-slider-controls level="secondary" theme="dark" }}
  </div>

  <div class="b-draggableGallery__sliderView__swiperContainer" data-swiper-container>
    <ul class="b-draggableGallery__sliderView__items swiper-wrapper">
      {{#each items}}
        <li class="b-draggableGallery__sliderView__item swiper-slide">
          {{> atom/a01-image image disableTransition=true }}

          <div class="b-draggableGallery__sliderView__content">
            <div class="b-draggableGallery__sliderView__copy">
              {{#with eyebrow}}
                {{> atom/a04-eyebrow }}
              {{/with}}

              {{> atom/a03-heading title }}
            </div>

            {{> molecule/m02-button cta modal=this aria=(object haspopup="dialog") data=(object modal-cta="") }}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="b-draggableGallery__sliderView__pagination" data-pagination>
    {{> molecule/m48-slider-pagination items=items autoplay=false }}
  </div>
</div>
