.o-testimonial {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s linear;
  transition-property: opacity, visibility;

  &.-isActive {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
  }
}
