<link rel="stylesheet" href="./s08-scroll-to-top.scss">
<script src="./S08ScrollToTop.ts"></script>


<section class="b-scrollToTop"
         data-component="s08-scroll-to-top">
  {{> molecule/m02-button icon="arrow-up" theme="white" }}
</section>
