.m-overlayBackground {
  &__overlayBackgrounds {
    @include offset(0);
    @include size(100%);

    position: absolute;
  }

  &__wrapper {
    @include offset(0);
    @include size(100%);

    overflow: hidden;
    position: absolute;
  }

  &__overlayBackground {
    @include offset(0);
    @include size(500%, 100%);

    background-repeat: repeat-x;
    background-size: 50%;
    pointer-events: none;
    position: absolute;

    &:nth-child(1) {
      top: -15%;
    }

    &:nth-child(2) {
      top: 58%;
    }

    &:nth-child(3) {
      top: 56%;
    }
  }
}
