.o-circlesGrid {
  @include list-reset;

  column-gap: var(--grid-gap);
  row-gap: 10px;
  margin-block-start: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__itemCopy {
    @include type("overline", "small");
  }

  &__item {
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease-in;
    transition-property: transform background-color;
    width: 45%;

    &:hover {
      background-color: var(--color-white);
      cursor: pointer;
    }

    &.-line-break {
      display: none;
      visibility: hidden;
      flex: 0 0 100%;
      height: 0;
    }
  }

  .m-componentBackground {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease, visibility 250ms ease;

    &.-isVisible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin: 30px;
    position: relative;

    .a-image {
      max-width: max-content;
    }

    .a-image__img {
      object-fit: contain;
    }

    .a-image,
    .a-image__picture,
    .a-image__img {
      @include position(unset);

      position: relative;
    }
  }

  .t-dark &,
  .t-darkMono & {
    .o-circlesGrid__itemCopy {
      color: var(--component-text-color);
    }

    .o-circlesGrid__item:hover {
      .o-circlesGrid__itemCopy {
        color: var(--color-black);
      }
    }
  }

  @include respond-to("MEDIUM") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__link {
      margin: 35px;
    }

    &__item {
      flex: 0 0 165px;
    }
  }

  @include respond-to("XXLARGE") {
    &__link {
      margin: 30px;
    }

    &__item {
      &.-line-break {
        display: block;
      }
    }
  }
}
