
<div class="o-videoOverlay" data-component="o02-video-overlay" aria-modal="true" role="dialog">
  <div class="o-videoOverlay__mask" data-mask></div>
  <div class="o-videoOverlay__wrapper">
    <div class="o-videoOverlay__container" data-video-container>
      {{!-- Video player injected here --}}
    </div>
  </div>
  {{> molecule/m02-button icon="close" theme="black" level="primary" size="small" variant="close" }}
</div>
