.app {
  &,
  &__root {
    height: 100%;
  }

  &__root {
    & > [data-component]:not([data-early-display]) {
      visibility: hidden;
    }

    &.-isReady > [data-component] {
      visibility: visible;
    }
  }

  &__content {
    background-color: var(--color-page-background);
    height: auto;
    width: 100%;
    overflow: hidden;

    & > [data-component]:not([data-early-display]),
    .cmp > [data-component]:not([data-early-display]) {
      visibility: hidden;
    }

    /* stylelint-disable no-descending-specificity */
    .-isReady & {
      & > [data-component],
      .cmp > [data-component] {
        visibility: visible;
      }
    }
    /* stylelint-enable no-descending-specificity */
  }
}
