
<section class="b-forms"
  data-component="c34-forms"
  {{#if scrollComponent}}data-scroll-component{{/if}}
  data-lazy-component>
  <div class="b-forms__container">
    {{> organism/o08-investor-form titleInEnglish=titleInEnglish}}
  </div>
</section>
