

<div class="o-paginationItem{{#if active}} -isActive{{/if}}"
     data-component="o57-pagination-item"
     data-pagination="{{ toJson this}}"
     data-pagination-item
     >
  {{> molecule/m02-button theme="white" level="primary" label=pageNumber }}
</div>
