
<div class="o-filterButtonItem" data-component="o56-filter-button-item" data-active-filter-item
  data-option="{{toJson this}}" data-value={{value}} >
  {{> molecule/m02-button level="primary" theme="white" size="small" icon="close" }}
</div>