<link rel="stylesheet" href="./a32-recaptcha-statement.scss">
<script src="./A32RecaptchaStatement.ts"></script>


<div class="a-recaptchaStatement"
  data-component="a32-recaptcha-statement"
>
  <p class="a-recaptchaStatement__statement">
    {{{statement}}}
  </p>
</div>
